@media screen and (max-width: 992px) {
  .container {
    padding: 0px 20px;
  }

  /* header and Hero Section */
  .collapseNavbar {
    gap: 150px;
  }
  .banner {
    margin-top: -105.6px;
  }

  .innerBanner .bannerInfo {
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  /* section 3 Testimonals */
  .testimonials {
    padding: 0px 20px;
  }
  .testimonalsContent {
    padding: 35px 42px;
  }
  .testCards {
    flex-direction: column;
  } 

  /* section 4 image and text */
  .tax {
    padding: 0px 20px;
  }
  .taxContentCards {
    padding: 112px 0px;
  }

  /* .blogCards{
    display: grid;
    grid-template-columns: auto auto;
  } */
   .blogCards{
    flex-direction: column;
   }

   /* footer */

   /* .rowFooter{
    flex-direction: column;
    align-items: center;
   } */
    .links{
    flex-direction: column;
    padding: 25px 90px;
    gap:74px;
}

   
}



/* mobile view */
@media screen and (max-width: 768px) {
  .container {
    padding: 0px 20px;
  }

  /* header and Hero Section */
  ul.navList {
    display: none;
  }

  .collapseNavbar {
    gap: 200px;
  }
  .collapseNavbar .hamburgerIcon {
    display: inline;
  }

  .innerBanner .bannerInfo {
    align-items: center;
    width: 100%;
  }

  .innerBanner h1 {
    text-align: center;
  }
  .bannerLinks {
    flex-direction: column;
    gap: 25px;
    /* margin-bottom:-140px; for making it go downwards */
  }

  .bannerLinks a {
    margin-bottom: 0px;
  }

  /* section 2 */
  .cards {
    flex-direction: column;
    gap: 30px;
    padding: 80px 16.5px;
  }
  .card {
    padding: 0px 0px;
  }

  /* section 3 */

  .testimonalsContent {
    padding: 35px 42px;
  }

  .testCards {
    flex-direction: column;
  }

  .profileImg {
    display: none;
  }
  /* section 4 image and text */
  .taxContentCards {
    padding: 112px 0px;
  }

  .blogCards{
    flex-direction: column  ;
  }


  /* footer and all */
.rowFooter{
    flex-direction: column;
    text-align: left;
    padding: 5px 88px;
   }

   .column{
    text-align: left;
   }

.links{
    flex-direction: column;
    padding: 25px 90px;
    gap:74px;
}


}

